* {
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", cursive;
  font-family: "Krona One", sans-serif;
}
#cabecera {
  width: 100vw;
  height: 150px;
  display: flex;
  background-color: #CCD1D1 ;
  margin: 0;
  border-bottom: 2px  solid #fff;
}
#logoGlauka {
  width: 119px;
  height: 135px;
  background-image: url(../image/nuevoLogo\ Glauka.png);
  background-size: cover;
  margin-top: 10px;
  margin-left: 5%;
}
#menu {
  display: flex;
  width: 50%;
  height: 40px;
  justify-content: space-around;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 35%;
}
#menu li {
  text-decoration: none;
  list-style-type: none;
}
#menu li a {
  font-family: "Bebas Neue", cursive;
  color: #424949;
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}
#menu li a:hover {
  color:  #E5E8E8;
}
#principal {
  display: flex;
  background-color: #424949;
  width: 100vw;
  height: 82vh;
}
#fotoPrincipal {
  width: 74vw;
  height: 82vh;
}
#textoInsp {
  width: 26vw;
  height: 82vh;
  background-color: #424949;
  background-size: cover;
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  color: #fff;
}
#textoPrincipalUno {
  width: 40%;
  height: 20vh;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #fff;
  float: right;
  margin-top: 50px;
  margin-right: 140px;
}
#textoPrincipalDos {
  width: 25%;
  height: 20vh;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #ffffff;
  margin-top: 270px;
  margin-left: 500px;
  text-align: center;
}
#secundario {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/fondoUno.jpg);
  background-size: cover;
  margin: 0;
  border-top: 2px solid #5e5c5c;
}
#bloqueUnoSec {
  width: 25%;
  height: 100vh;
  margin-left: 100px;
}
#bloqueDosSec {
  width: 33%;
  height: 100vh;
  margin: 0;
}
.textoIntro {
  width:80%;
  color: #424949;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 50px;
}
.subTitulos {
  width: 25vw;
  height: 5vh;
  margin-left: 50px;
  font-size: 16px;
  margin-top: 10px;
}
.textoFuerte {
  width: 1000px;
  color: rgb(50, 50, 54);
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  margin-left: 50px;
}
#fotoBloqueUnoSec {
  width: 20vw;
  height: 40vh;
  background-image: url(../image/Castillo.jpg);
  background-size: cover;
  margin-top: 50px;
  margin-left: 50px;
}
#fotoBloqueDosSec {
  width: 20vw;
  height: 40vh;
  background-image: url(../image/ordesa.jpg);
  background-size: cover;
  margin-top: 265px;
  margin-left: 50px;
}
#fotoBloqueTresSec {
  width: 20vw;
  height: 40vh;
  background-image: url(../image/PASARELA.jpg);
  background-size: cover;
  margin-top: 265px;
  margin-left: 50px;
}
#terciario {
  width: 100vw;
  height: 100vh;
  background-color: #424949;
}
#cuaternario {
  width: 100vw;
  height: 600px;
  background-color: #ffffff;
  background-size: cover;
}
#fotoBloqueUnoQua {
  width: 25vw;
  height: 50vh;
  background-image: url(../image/gastro.jpg);
  background-size: cover;
  margin-top: 50px;
  margin-left: 50px;
}
#fotoBloqueDosQua {
  width: 25vw;
  height: 50vh;
  background-image: url(../image/conciertos.jpg);
  background-size: cover;
  margin-top: 265px;
  margin-left: 50px;
}
#fotoBloqueTresQua {
  width: 25vw;
  height: 50vh;
  background-image: url(../image/motoGp.jpg);
  background-size: cover;
  margin-top: 265px;
  margin-left: 50px;
}
#quinario {
  width: 100%;
  height: 500px;
  background-color: rgb(50, 50, 60);
}
