* {
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", cursive;
  font-family: "Krona One", sans-serif;
}
#cabecera {
  width: 100vw;
  height: 150px;
  display: flex;
  background-color: #CCD1D1 ;
  margin: 0;
  border-bottom: 2px  solid #fff;
}
#logoGlauka {
  width: 119px;
  height: 135px;
  background-image: url(../image/nuevoLogo\ Glauka.png);
  background-size: cover;
  margin-top: 10px;
  margin-left: 5%;
}
#menu {
  display: flex;
  width: 50%;
  height: 40px;
  justify-content: space-around;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 25%;
}
#menu li {
  text-decoration: none;
  list-style-type: none;
}
#menu li a {
  font-family: "Bebas Neue", cursive;
  color: #424949;
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}
#menu li a:hover {
  color:  #e00da1;
}
#principal {
  display: flex;
  background-color: #424949;
  width: 100vw;
  height: 82vh;
}
#fotoPrincipal {
  width: 74vw;
  height: 82vh;
  margin: 0;
}
#textoInsp {
  width: 26vw;
  height: 82vh;
  background-color: #424949;
  background-size: cover;
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  color: #fff;
}
#textoPrincipalUno {
  width: 40%;
  height: 20vh;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #fff;
  float: right;
  margin-top: 50px;
  margin-right: 140px;
}
#textoPrincipalDos {
  width: 25%;
  height: 20vh;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #ffffff;
  margin-top: 270px;
  margin-left: 500px;
  text-align: center;
}
#secundario {
  display: grid;
  grid-template-areas: "none tituloSecundario tituloSecundario tituloSecundario"
  "none bloqueUnoSec bloqueDosSec bloqueTresSec";
  grid-template-columns: 35% 21% 21% 21%;
  grid-template-rows: 20vh 80vh;
  background-image: url(../image/fondoUno.jpg);
  background-size: cover;
  margin: 0;
  border-top: 2px solid #5e5c5c;
}
#bloqueUnoSec {
  grid-area: bloqueUnoSec ;
  margin: 0;
}
#bloqueDosSec {
  grid-area: bloqueDosSec;
  margin: 0;
}
#bloqueTresSec {
  grid-area: bloqueTresSec;
  margin: 0;
}
#tituloSecundario {
  grid-area: tituloSecundario;
}
.textoIntro {
  width:80%;
  color: #e00da1;
  font-size: 18px;
}
.subTitulos {
  width: 17vw;
  height: 5vh;
  font-size: 16px;
  margin-top: 20px;
}
.textoFuerte {
  width: 1000px;
  color: #e00da1;
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  margin-top: 30px;
}
#fotoBloqueUnoSec {
  width: 18vw;
  height: 30vh;
  background-image: url(../image/Castillo.jpg);
  background-size: cover;
  margin-top: 68px;
}
#fotoBloqueDosSec {
  width: 18vw;
  height: 30vh;
  background-image: url(../image/ordesa.jpg);
  background-size: cover;
  margin-top: 95px;
}
#fotoBloqueTresSec {
  width: 18vw;
  height: 30vh;
  background-image: url(../image/PASARELA.jpg);
  background-size: cover;
  margin-top: 95px;
}
#terciario {
  width: 100vw;
  height: 100vh;
  background-color: #424949;
}
#cuaternario {
  display: grid;
  grid-template-areas: "none tituloCuaternario tituloCuaternario tituloCuaternario"
  "none bloqueUnoCua bloqueDosCua bloqueTresCua";
  grid-template-columns: 10% 21% 21% 21%;
  grid-template-rows: 20vh 80vh;
  background-image: url(../image/fondoDos.jpg);
  background-size: cover;
  margin: 0;
  border-top: 2px solid #5e5c5c;
}
#bloqueUnoCua {
  grid-area: bloqueUnoCua ;
  margin: 0;
}
#bloqueDosCua {
  grid-area: bloqueDosCua;
  margin: 0;
}
#bloqueTresCua {
  grid-area: bloqueTresCua;
  margin: 0;
}
#tituloCuaternario {
  grid-area: tituloCuaternario;
  
}
.textoIntro {
  width:80%;
  color: #e00da1;
  font-size: 18px;
}
.subTitulos {
  width: 17vw;
  height: 5vh;
  font-size: 16px;
  margin-top: 20px;
}
.textoFuerte {
  width: 1000px;
  color: #e00da1;
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  margin-top: 30px;
}
#fotoBloqueUnoCua {
  width: 18vw;
  height: 30vh;
  background-image: url(../image/gastro.jpg);
  background-size: cover;
  margin-top: 68px;
}
#fotoBloqueDosCua {
  width: 18vw;
  height: 30vh;
  background-image: url(../image/formula.jpg);
  background-size: cover;
  margin-top: 95px;
}
#fotoBloqueTresCua {
  width: 18vw;
  height: 30vh;
  background-image: url(../image/clasica.jpg);
  background-size: cover;
  margin-top: 95px;
}
#fotoBloqueUnoQua {
  width: 25vw;
  height: 50vh;
  background-image: url(../image/gastro.jpg);
  background-size: cover;
  margin-top: 50px;
  margin-left: 70px;
}
#fotoBloqueDosQua {
  width: 25vw;
  height: 50vh;
  background-image: url(../image/conciertos.jpg);
  background-size: cover;
  margin-top: 265px;
  margin-left: 70px;
}
#fotoBloqueTresQua {
  width: 25vw;
  height: 50vh;
  background-image: url(../image/motoGp.jpg);
  background-size: cover;
  margin-top: 265px;
  margin-left: 50px;
}
footer {
    width: 100vw;
    height: 70vh;
    background-color: #424949;
}